<section class="banner-section-two">
    <div class="bg bg-image" style="background-image: url({{asset('assets/images/banner/b3.png')}});" >
        {{-- <div class="bg bg-overlay"></div> --}}
    </div>
    <div class="auto-container">
        <div class="content-box">
            <a href="https://www.youtube.com/watch?v=Fvae8nxzVz4" class="play-btn-two wow fadeInUp" data-caption="" data-fancybox="" data-wow-delay="300ms">
                <span class="sub-title"></span>
            </a>
            <h1 class="title wow fadeInUp" data-wow-delay="600ms"></h1>
            <div class="text wow fadeInUp" data-wow-delay="900ms"></div>
            <div class="btn-box wow fadeInUp" data-wow-delay="1200ms">
                {{-- <a href="page-about.html" class="theme-btn btn-style-one hover-light read-more"><span class="btn-title">Get Started <i class="fa fa-arrow-right"></i></span></a> --}}
                <a href="tel:" class="info-btn-three">
                    <small></small>
                    <strong></strong>
                </a>
            </div>
        </div>
    </div>
</section>